nav{
    padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

} 
.nav-left .menuIcon{
  width: 15px;
  margin-right: 20px;
}
.nav-left .logo{
  width: 130px;
 
}
.nav-middle .search-box{
  border: 1px solid #ccc;
  margin-right: 15px;
  border-radius: 23px;
  padding: 8px 12px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
  width: 15px;
  cursor: pointer;
}   
.nav-right img{
  width: 25px;
  margin-right: 25px;
  cursor: pointer;
}
.nav-right .user{
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}   
@media screen and (max-width: 900px) {
  .menuIcon {
    display: none;
  }
  .nav-right img{
    display: none;

  }        
  .nav-right .user{
    display: block;
    width: 35px ;
  }          
  .logo{
    width: 50px;
  }
  .nav-middle .search-box input{
    width: 100px;
    max-width: 250px;
  }


  
  
}









